.cta-card-with-links {
    padding-top: 0;
    margin-top: 20px;
}
.cta-card-with-links img {
    height: 854px !important;
}
.cta-card-with-links-inner {
    padding: 175px 0 145px;
}
.white-block-card {
    max-width: 652px;
    background: #fff;
    padding: 76px 34px 29px 51px;
    position: relative;
    margin-left: auto;
    z-index: 9;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
}
.white-block-card h2 {
    margin-bottom: 27px;
}
.content-block {
    font-size: 112.5% !important;
    color: #707070;
    line-height: 28px;
    margin-bottom: 25px !important;
}
.white-block-card .link:hover {
    text-decoration: underline !important;
}
.white-block-card .link {
    display: block;
    font-size: 150% !important;
    color: var(--color-primary);
    font-weight: 700;
    line-height: 48px;
    position: relative;
    transition: all 0.3s ease-in-out;
    text-decoration: underline !important;
}
.cta-card-with-links .link svg,
.cta-card-with-links-inner .acf-module-buttons-group svg {
    margin-left: 8px;
    width: 8px;
    height: 14px;
    display: inline-block;
}
.cta-card-with-links-inner .acf-module-buttons-group {
    margin-top: 47px;
    text-align: right;
}
.cta-card-with-links .acf-module-buttons-group  a.link svg path{
    stroke: var(--color-priamry);
    transition: all 0.4s ease-in-out;
}
.cta-card-with-links-inner .acf-module-buttons-group svg path{
    stroke: var(--color-base);
    transition: all 0.4s ease-in-out;
}
.cta-card-with-links-inner .acf-module-buttons-group a:hover svg path{
    stroke: var(--color-green);
}
.cta-card-with-links:before {
    position: absolute; 
    content: '';
    background: rgb(70 69 69 / 71%);
    right: 0;
    top: 0;
    bottom: 0;
    clip-path: polygon(62% 0, 100% 0, 100% 100%, 85% 100%);
    width: 100%;
    background-position: right;
    z-index: 9;
}


/*tax-planning-consulting/*/
.overlay-black::before {
    clip-path: unset !important;
    background-color: rgb(70 69 69 / 43%);
    mix-blend-mode: multiply;
}
.cta-card-section {
    margin-top: 0;
}
.cta-card-section .cta-card-with-links-inner {
    padding: 156px 0;
}
.cta-card-section .white-block-card h2{
    font-size: 300% !important;
    line-height: 56px !important;
    margin-bottom: 18px !important;
}
.cta-card-section .white-block-card {
    background: var(--color-green);
    padding: 79px 76px 97px 92px;
}
.cta-card-section .white-block-card a{
    color: var(--color-base);
}
.cta-card-section .white-block-card a svg path{ 
    stroke: var(--color-base);
}
/*looking-to-join-us */
.looking-to-join-us .has-background-dim:not(.has-background-gradient){
    opacity: 0;
}
.looking-to-join-us .cta-card-with-links-inner{
    padding: 118px 0 ;
}
.looking-to-join-us {
    margin-top: 0;
}
.looking-to-join-us .white-block-card{
    background: var(--color-primary);
}
.looking-to-join-us .white-block-card .link{
    color: var(--color-base);
 }
 .looking-to-join-us:before {
    position: absolute;
    content: '';
    background: rgb(112 112 112 / 86%);
    top: 0;
    right: 0;
    bottom: 0;
    clip-path: unset !important;
    left: 0;
    mix-blend-mode: multiply;
}
.looking-to-join-us .cta-card-with-links-inner .row {
    background: transparent !important;
}
 .looking-to-join-us .cta-card-with-links-inner{
    position: relative;
    z-index: 9999;
}
.looking-to-join-us:after {
    position: absolute;
    content: '';
    background: url(https://dev-haskell-white.pantheonsite.io/wp-content/uploads/2023/02/Path-68513.svg);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.14;
    background-repeat: no-repeat;
    height: 845px;
    background-position: 128% 100%;
    z-index: 999;
}
/*.looking-to-join-us .image-background:before{
    position: absolute;
    content: '';
    background: rgb(112 112 112 / 86%);
    right: 0;
    top: 0;
    mix-blend-mode: multiply;
    bottom: 0;
    clip-path: unset;
    width: 100%;
    background-position: right;
    z-index: 9;
}
*/
@media (max-width:991px){
    .white-block-card,
    .cta-card-section .white-block-card{
        padding: 28px;
    }
}
@media (max-width:767px){
    .cta-card-with-links img {
        height: 100% !important;
    }
    .white-block-card h2,
    .cta-card-section .white-block-card h2.acf-element-heading {
        margin-bottom: 5px;
        text-align: left !important;
        line-height: 50px !important;
    }
    .cta-card-section .white-block-card h2{
        font-size: 250% !important;
    }
    .cta-card-with-links-inner {
        padding: 20px !important;
    }
}

@media (max-width:575px){
    .white-block-card h2.acf-element-heading {
        line-height: 36px !important;
    }
    .white-block-card .link{
        font-size: 112% !important;
        line-height: 36px;
    }
}