.wp-block-quote {
	cite {
		font-family: var(--wp--preset--font-family--source-sans-pro);
		font-weight: 700;
		font-style: normal;
		text-transform: uppercase;
		padding-left: 1rem;
		position: relative;

		&::before {
			content: '~';
			color: currentcolor;
			display: block;
			font-size: inherit;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}
